@import "tailwindcss";

@theme {
    --color-background: #0a192f;
    --color-cardBackground: #112240;
    --color-textPrimary: #ccd6f6;
    --color-textSecondary: #8892b0;
    --color-primary: #64ffda;
    --color-primaryHover: #52d3b8;
}

/* You can still add base styles for the body here if you like */
body {
    background-color: theme('colors.background');
    color: theme('colors.textPrimary');
}